/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
   
}

body {
    background: #F0E68C;
}

html
{
    scroll-behavior:smooth;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}


.nav-bar
{
    width: 100%;
    height: 60px;
    top: 0px;
    left: 0px;
    position:absolute;
    background-color: black; 
    align-content:center;
    margin-bottom:10px;
}

.nav-bar-options
{
    top: 13px;
    position: absolute;
    align-content:center;
}
.nav-options {
    display: inline-flex;
    padding: 2px;
    font-size: 18px;
    text-align: inherit;
    text-decoration: none;
    color: black;
    background-color: #F0E68C;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #FFC72C;
    transition: all 0.3s ease;
    cursor: pointer;
    height: 35px;
}

    .nav-options:hover {
        background-color: black;
        color: #ff5252;
        border: 2px solid #ff5252;
        box-shadow: 5px 5px 0px #ff5252;
    }

    .nav-options:active {
        background-color: black;
        box-shadow: none;
    }


.header {
    font-family: 'Lucida Sans', sans-serif;
    color: #F0E68C;
    text-align:center;
    font-weight: bold;
    font-size: 30px;
}
    .header:hover {
        color: #ff5252;
        text-shadow: 2px 2px 0px #F0E68C;
    }

.p1 {
    position: absolute;
    top: 90px;
    text-align: left;
    width: 250px;
    background-color: antiquewhite;
    left: 150px;
    padding: 20px;
    font-family: inherit;
}
.p1-button {
    position: absolute;
    top: 90px;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: antiquewhite;
    left: 10px;
    padding: 0px;
    font-family: inherit;
    border-radius: 30px;
}

.p2 {
    position: absolute;
    top: 90px;
    text-align: left;
    width: 250px;
    background-color: antiquewhite;
    left:550px;
    padding: 20px;
    font-family: inherit;
}
.p2-button {
    position: absolute;
    top: 90px;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: antiquewhite;
    left: 550px;
    padding: 0px;
    font-family: inherit;
    border-radius: 30px;
}
.redirect-link
{
    text-decoration: none;
    color: inherit;
}

    .redirect-link:hover
    {
        text-shadow: 2px 2px 0px white;
    }

.about-me {
    position: relative;
    top: 70px;
    border: 2px solid black;
    text-align: center;
    padding: 10px 10px 10px 10px;
    width: 500px;
    height: 400px;
    left: 800px;
    box-shadow: 5px 5px 0px #FFC72C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-button 
{
    border-radius: 10px;
    font-size: 50px;
    background-color: black;
    color: white;
}
    .about-me-button:hover {
        background-color: #ff5252;
        color: black;
        border: 2px solid #ff5252;
        box-shadow: 5px 5px 0px black;
    }
    .about-me-button:active {
        background-color: black;
        color: #ff5252;
        box-shadow: none;
    }